{% extends "template.html" %}
{% block conteudo %}
<form action="{{ url_for('autenticar') }}" method="post">
    <input type="hidden" name="proxima" value="{{ proxima }}">
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" class="form-control">
    </div>
    <div>
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" class="form-control">
    </div>
    <div>
        <button type="submit" class="btn btn-primary btn-entrar">Entrar</button>
    </div>
</form>
{% endblock %}